body {
    background: url('../images/medicine.jpeg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    line-height: 1.8;
}


#heading {
    font-size: 72px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
}

#body {
    background-color: #000;
    height: 4500px;
    width: 1180px;
    margin-top: 80px;
    opacity: 0.8;
    border-radius: 15px;
    align-content: center;
}

.designby {
    height: 30px;
}
